.col-sm-6.col-md-4.col-mlg-4.col-lg-3
  .panel.panel-default.tile-block.border-radius-5
    .panel-body.hover-tile
      = link_to series_path(series.native) do
        .cover-image{class: "series_#{series.native.id}"}
          :javascript
              addPostponedFunc(['allScriptsReady'],function(){
                if (window.series_#{series.native.id} != undefined) {
                  $(".series_#{series.native.id}")
                    .empty()
                    .append(window.series_#{series.native.id})
                    .find('.inside-image')
                    .fadeIn( 1000 );
                } else {
                  $.getScript('#{ load_tile_path(series.native) }');
                }
              })
          .corner{class: "corner-category_#{series.native.category_id}"}
      .padding-div
        %h4.tall
          %span.big
            = link_to series.name, series_path(series.native)
        %div
          %i.mdi-av-movie.mdi-material-grey-700.vertical-middle
          %span
            %b= series.tile_episode_counter
        %div.last-ep-name
          %span= "#{series.tile_last_ep_name}"
        %div.views-section
          %span.pull-left.views-span
            %i.mdi-action-visibility.vertical-middle
            = series.views
          %span.pull-right.days-span= "#{series.amount_of_days} тому"
