- content_for :title do
  = @category.name
.row
  .col-sm-12
    %ul.breadcrumb
      %li
        = link_to 'Головна', root_path
      %li.active Аніме
.row
  .col-lg-8
    - @series_presenter.each do |series_presenter|
      = render 'series/single_post', series_presenter: series_presenter
    %br
    = link_to 'New Series', new_series_path



  .col-lg-4
    = render 'layouts/last_comments'
