- content_for :title do
  = @category.name
.row
  .col-sm-12
    %ul.breadcrumb
      %li
        = link_to 'Головна', root_path
      - if @category.parent
        %li
          = link_to @category.parent.try(:name), category_path(@category.parent)
      %li.active= @category.name
.row
  .col-lg-8
    - @series_presenter.each do |series_presenter|
      = render 'series/single_post', series_presenter: series_presenter
    %br
    .center-block{style: 'height: 78px'}
      = will_paginate @series, renderer: BootstrapPagination::Rails

  .col-lg-4
    = render 'layouts/last_comments'

:css
  .corner {
    display: none;
  }
