.field.episode-section
  = f.label :episode_number, class: 'col-sm-2 control-label'
  .col-sm-10
    %p
      = f.text_field :episode_number, class: 'form-control', placeholder: 'Номер епізоду чи ова ( 1, 2, 3, OVA, OVA2 ...)'
  .clearfix
  = f.label :name, class: 'col-sm-2 control-label'
  .col-sm-10
    %p
      = f.text_field :name, class: 'form-control', placeholder: 'Назва окремого епізоду, якщо є'
  .clearfix
  = f.label :video_link, class: 'col-sm-2 control-label'
  .col-sm-10
    %p
      = f.text_field :video_link, class: 'form-control', placeholder: 'Поки лише лінк на Мету. приклад: http://video.meta.ua/7286223.video'
  .clearfix
  %p
    = f.hidden_field :_destroy
  .form-group
    .pull-right
      = link_to 'remove', 'javascript:void(0)', onclick: 'removeFields(this)', class: 'btn btn-danger btn-xs'

