.post
  .panel.panel-default
    .post-image
      %a{:href => "#"}
        .image{style: "background-image: url('#{series.cover}')"}
    .post-content
      .post-heading
        .title.col-xs-10
          %a= series.name
        .additional.col-xs-2
          %a.btn.btn-white.btn-fab.btn-raised.mdi-av-play-arrow.pull-right{href: 'javascript:void(0)', style: 'top:12px'}
      .post-body
        = series.description



-#.post
  .post-content
    .post-image
      %a{:href => "#"}
        = image_tag series.cover, width: '100%', height:'100%', class: 'cover'
    .post-content
      .panel.panel-default
        .panel-heading
          = series.name
        .panel-body
          = series.description
        .panel-footer
          some text here


-#.panel.panel-default
  .panel-body
    .post
      .media
        .media-left
          %a{:href => "#"}
            = image_tag series.cover, height:'280', class: 'media-object img-rounded cover'
            .completeness
              %button.btn.btn-primary{:type => "button"}
                Episode
                %span.badge
                  %div.main= series.episodes.count

        .media-body.description-limiter
          .accurate
            .col-sm-9
              %h2.media-heading= link_to series.name, series
              .update-time
                %i.mdi-device-access-time
                  .text= series.edited_date

              .description.ellipsis
                = series.description
                \..
            .col-sm-3.col-md
              .quality.pull-right.visible-sm.visible-md.visible-lg
                %i.mdi-av-high-quality
                  .text 720p
              .details.visible-sm.visible-md.visible-lg
                .author
                  %i.mdi-social-person-outline
                    %a
                      %span= series.author_name
                %p
                  %span.label.label-primary.btn-sm torrent
                  %span.label.label-warning.btn-sm online

            .clearfix
            .tech-info.visible-sm.visible-md.visible-lg
              .reviews
                %i.mdi-action-visibility
                  %span= pluralize(series.views, 'view')
                .clearfix
                %i.mdi-file-cloud-download
                  %span= pluralize(series.downloads, 'load')
          .col-sm-9
            .tags.visible-sm.visible-md.visible-lg
              %i.mdi-action-loyalty
              %span.label.label-success.btn-sm Comedy
              %span.label.label-success.btn-sm Romantic
              %span.label.label-success.btn-sm School

          .col-sm-3
            = link_to 'Learn more', series, class: 'btn btn-info btn-lg pull-right'


%tr
  %td= series.name
  %td= link_to 'Show', series
  %td= link_to 'Edit', edit_series_path(series)
  %td= link_to 'Destroy', series, :method => :delete, :data => { :confirm => 'Are you sure?' }
