.post
  .panel.panel-default
    .post-image
      %a{:href => "#"}
        .image{style: "background-image: url('#{series.cover}')"}
    .post-content
      .post-heading
        .title.col-xs-11
          %a= series.name
        .additional.col-xs-1
          %a.btn.btn-white.btn-fab.btn-raised.mdi-av-play-arrow.pull-right.round-sizer{href: 'javascript:void(0)'}
      .post-body
        .episode
          %i.mdi-av-movie.mdi-material-grey-700
          %span
            %b Episode #3 of 24
          .types.pull-right.visible-sm-inline.visible-md-inline.visible-lg-inline{style: 'padding-top:10px'}
            %span.label.label-primary.btn-sm torrent
            %span.label.label-warning.btn-sm online
        .ellipsis
          %p.visible-sm.visible-md.visible-lg
            %b Description:
          = series.description
        .labels
          %i.mdi-action-loyalty.mdi-material-grey-700
          %span.label.label-success.btn-sm Comedy
          %span.label.label-success.btn-sm Romantic
          %span.label.label-success.btn-sm School

-#%tr
  %td= series.name
  %td= link_to 'Show', series
  %td= link_to 'Edit', edit_series_path(series)
  %td= link_to 'Destroy', series, :method => :delete, :data => { :confirm => 'Are you sure?' }
