%h1 Listing series

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @series.each do |series|
      %tr
        %td= series.name
        %td= link_to 'Show', series
        %td= link_to 'Edit', edit_series_path(series)
        %td= link_to 'Destroy', series, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Series', new_series_path
