#notice= notice
.open-post
  .panel.panel-default.top-round
    .post-image.top-round
      -#.sup=image_tag @series.cover, height: 350
      .image.top-round{style: "background-image: url('#{@series.admit}')"}
        .sign= @series.name
    .post-content
      .panel-body
        %p
          %div.pull-left{style: 'height: 350px;min-width:540px'}
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :mozallowfullscreen => "", :scrolling => "no", :src => "//video.meta.ua/iframe/7403292/", :webkitallowfullscreen => "", :width => "100%"}
          %div.pull-left
            .panel.panel-default
              .panel-heading Panel heading
              .panel-body{style: 'overflow-y: scroll; height: 308px'}
                %table.table.table-striped.table-hover
                  %thead
                    %tr
                      %th #
                      %th Column heading
                      %th Column heading
                      %th Column heading
                  %tbody
                    %tr
                      %td 1
                      %td Column content
                      %td Column content
                      %td Column content
                    %tr
                      %td 2
                      %td Column content
                      %td Column content
                      %td Column content
                    %tr.info
                      %td 3
                      %td Column content
                      %td Column content
                      %td Column content
                    %tr.success
                      %td 4
                      %td Column content
                      %td Column content
                      %td Column content
                    %tr.danger
                      %td 5
                      %td Column content
                      %td Column content
                      %td Column content
                    %tr.warning
                      %td 6
                      %td Column content
                      %td Column content
                      %td Column content
                    %tr.active
                      %td 7
                      %td Column content
                      %td Column content
                      %td Column content
                    %tr.active
                      %td 7
                      %td Column content
                      %td Column content
                      %td Column content
                    %tr.active
                      %td 7
                      %td Column content
                      %td Column content
                      %td Column content

%p
  %b Name:
  = @series.name

= link_to 'Edit', edit_series_path(@series)
\|
= link_to 'Back', series_index_path
