.navbar.navbar-info
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path, style: 'padding-top: 3px;'}
        = image_tag 'logo.png'
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav{ "data-hover"=>"dropdown", "data-animations"=>"fadeInDown fadeInRight fadeInUp fadeInLeft" }
        // = nav_link 'Аніме', series_index_path
        %li.dropdown
          %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "bootstrap-elements.html"}
            %b Аніме
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => "javascript:void(0)"} Завершені
            %li
              %a{:href => "javascript:void(0)"} Онґоінґи
            %li
              %a{:href => "javascript:void(0)"} Неонґоіґи
            // %li.divider
            // %li.dropdown-header Dropdown header
            %li
              %a{:href => "javascript:void(0)"} ОВА
            %li
              %a{:href => "javascript:void(0)"} Аніме фільми
        %li.dropdown
          %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "bootstrap-elements.html"}
            %b Серіали
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => "javascript:void(0)"} Завершені
            %li
              %a{:href => "javascript:void(0)"} Онґоінґи
            %li
              %a{:href => "javascript:void(0)"} Неонґоіґи
        %li.dropdown
          %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "bootstrap-elements.html"}
            %b Фільми
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => "javascript:void(0)"} Фантастика
            %li
              %a{:href => "javascript:void(0)"} Містика

      -#%form.navbar-form.navbar-left
      -#= form_tag(series_path, :method => "get", id: "search-form")
      -#  = text_field_tag :search, params[:search], placeholder: "Пошук"
      -#  = submit_tag "Search", :name => nil
      = form_tag series_index_path, :method => "get", class: ' navbar-form navbar-left' do
        = text_field_tag :search, params[:search], placeholder: "Пошук", class: 'form-control col-lg-8'
      = render 'layouts/navigation_links'
  = render 'layouts/site_top'
