- content_for :description do
  = "UkrDub - це вітчизняний фандаб проект, що займається перекладом і озвученням аніме та серіалів українською мовою."

!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Укрдаб.нет / UkrDub.net'
    = favicon_link_tag
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Ud Site'}"}
    %meta{:content => asset_path('fav.png'), :property => "og:image"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, :async => true
    %script{:src => "//vk.com/js/api/openapi.js?116", :type => "text/javascript", :async => true}
    = csrf_meta_tags
  %body
    %header.header-decorator
      = render 'layouts/navigation'
    %main{:role => "main"}
      .container
        = render 'layouts/messages'
        = yield
        .clearfix
    %footer.footer
      %div{style: 'background-color: #385762;height: 125px;width:100%;'}
        .container
          = render 'layouts/footer'
          .center-block.top-me-please{style: 'width:56px;margin-top:-26px;'}
            %a.btn.btn-info.btn-fab.btn-raised.mdi-navigation-expand-less{:href => "#"}
