!!!
%html{lang: 'uk'}
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'UkrDub.net - аніме та серіали українською'
    = favicon_link_tag
    %meta{:name => "title", :content => content_for?(:title) ? yield(:title) : 'UkrDub.net - аніме та серіали українською'}
    %meta{:name => "description", :content => content_for?(:description) ? yield(:description) : "UkrDub - це вітчизняний фандаб проект, що займається перекладом і озвученням аніме та серіалів українською мовою."}
    %meta{:content => content_for?(:url) ? yield(:url) : 'http://www.ukrdub.net'}
    %meta{:content => content_for?(:image) ? yield(:image) : 'http://res.cloudinary.com/ukrdub/image/upload/v1444766589/public/newlogo.png'}/
    %meta{:content => "#03a9f4", :name => "theme-color"}
    / Open Graph / Facebook
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "UkrDub.net", :property => "og:site_name"}/
    %meta{:content => content_for?(:url) ? yield(:url) : 'http://www.ukrdub.net', :property => "og:url"}/
    %meta{:content => content_for?(:title) ? yield(:title) : 'UkrDub.net - аніме та серіали українською', :property => "og:title"}/
    %meta{:content => content_for?(:description) ? yield(:description) : "UkrDub - це вітчизняний фандаб проект, що займається перекладом і озвученням аніме та серіалів українською мовою.", :property => "og:description"}/
    %meta{:content => content_for?(:image) ? yield(:image) : 'http://res.cloudinary.com/ukrdub/image/upload/v1444766589/public/newlogo.png', :property => "og:image"}/
    / Twitter
    %meta{:content => "summary_large_image", :property => "twitter:card"}/
    %meta{:content => content_for?(:url) ? yield(:url) : 'http://www.ukrdub.net', :property => "twitter:url"}/
    %meta{:content => content_for?(:title) ? yield(:title) : 'UkrDub.net - аніме та серіали українською', :property => "twitter:title"}/
    %meta{:content => content_for?(:description) ? yield(:description) : "UkrDub - це вітчизняний фандаб проект, що займається перекладом і озвученням аніме та серіалів українською мовою.", :property => "twitter:description"}/
    %meta{:content => content_for?(:image) ? yield(:image) : 'http://res.cloudinary.com/ukrdub/image/upload/v1444766589/public/newlogo.png', :property => "twitter:image"}/

    = render 'layouts/init_js'
    -#= javascript_include_tag 'lazyLoad'
    = render 'layouts/init_css'
    -#= stylesheet_link_tag 'init', media: 'all'
    -#= stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, :async => true
    -#%script{:src => "//vk.com/js/api/openapi.js?116", :type => "text/javascript", :async => true}
    = csrf_meta_tags
  %body
    #fb-root{"data-turbolinks-permanent" => ""}
    .init-loader
      .loader
        .inner.one
        .inner.two
        .inner.three
    %header.header-decorator
      = render 'layouts/navigation'
    %main{:role => "main"}
      .container
        = render 'layouts/messages'
        = yield
        .clearfix
    %footer.footer
      %div{style: 'background-color: #385762;height: 125px;width:100%;'}
        .container
          = render 'layouts/footer'
          .center-block.top-me-please{style: 'width:56px;margin-top:-26px;'}
            %a.btn.btn-info.btn-fab.btn-raised.mdi-navigation-expand-less.scroll-to-top{:href => "#"}

    :javascript
      var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '#{asset_path("application.css")}';
        if(document.getElementsByTagName('head')[0].parentNode.getElementsByTagName('link')[0].href != 'http://' + location.hostname + '#{asset_path("application.css")}') {
          var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
        } else {
          console.log('css already loaded')
        }
        
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf)
        if(document.getElementsByTagName('head')[0].parentNode.getElementsByTagName('link')[0].href != 'http://' + location.hostname + '#{asset_path("application.css")}') {
          raf(cb);
        }
      else
        window.addEventListener('load', cb);
        addInitializationFlag('cssLoaded');
