!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Ud Site'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Ud Site'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.header-decorator
      = render 'layouts/navigation'
      -#= render 'layouts/site_top'
    %main{:role => "main"}
      .container
        = render 'layouts/messages'
        .col-lg-8
          = yield
        .col-lg-4
          = render 'layouts/sidebar'

        .clearfix

    %footer.footer
      %div{style: 'background-color: #385762;height: 125px;width:100%;'}
        .container
          .center-block.top-me-please{style: 'width:56px;margin-top:-26px;'}
            %a.btn.btn-info.btn-fab.btn-raised.mdi-navigation-expand-less{:href => "#"}
