- content_for :description do
  = "UkrDub - це вітчизняний фандаб проект, що займається перекладом і озвученням аніме та серіалів українською мовою."
!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Укрдаб.нет / UkrDub.net'
    = favicon_link_tag
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Ud Site'}"}
    %meta{:content => asset_path('fav.png'), :property => "og:image"}/
    = render 'layouts/init_css'
    = render 'layouts/init_js'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, :async => true
    -#%script{:src => "//vk.com/js/api/openapi.js?116", :type => "text/javascript", :async => true}
    = csrf_meta_tags
  %body
    .init-loader
      .loader
        .inner.one
        .inner.two
        .inner.three
    %header.header-decorator
      = render 'layouts/navigation'
    %main{:role => "main"}
      .container
        = render 'layouts/messages'
        = yield
        .clearfix
    %footer.footer
      %div{style: 'background-color: #385762;height: 125px;width:100%;'}
        .container
          = render 'layouts/footer'
          .center-block.top-me-please{style: 'width:56px;margin-top:-26px;'}
            %a.btn.btn-info.btn-fab.btn-raised.mdi-navigation-expand-less{:href => "#"}

  :javascript
      var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '#{asset_path("application.css")}';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);
